:root {
  background-color: #312246;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 250;
  line-height: 1.6;
  font-size: 18px;
  background-color: #312246;
  color: #efefef
}

/*#312246;*/

* {
  box-sizing: border-box;
}

a {
  color: #c56dff;
  font-weight: 300;
  text-decoration: none;
  transition-duration: 0.3s;
}
/*#c56dff;*/

a:hover {
  text-decoration: underline;
  text-decoration: none;
  color: #e3c3f8;
}

img {
  max-width: 100%;
  display: block;
  animation-play-state: paused;
}
